aiofiles==0.7.0
aiohttp==3.7.4.post0
aiosqlite==0.17.0
celery==5.0.5
fastapi==0.74.1
fastapi-users[sqlalchemy2]==9.2.5
fastapi-utils==0.2.1
geojson-pydantic==0.3.1
msgpack-asgi==1.1.0
python-dotenv==0.19.2
redis==4.0.1
tzlocal==4.1
uvicorn[standard]==0.15.0
